<div class="jst-template" name="Editor">
    <div class="item" name="body">
        <ul id="menu-bar">
            <li><a href="#">Specification</a>
                <ul>
                    <li class="sub1"><a class="dialog-link" href="#new_specification">New</a></li>
                    <li class="sub1"><a class="dialog-link" href="#show_specifications">Load</a></li>
                </ul>
            </li>
            <li><a href="#">Help</a>
                <ul>
                    <li class="sub1"><a href="#">About</a></li>
                    <li class="sub1"><a href="#edit/specification_example">Examples</a></li>
                </ul>
            </li>
        </ul>

        <div class="general-modal custom-modal" aria-hidden="true"></div>
        <div class="edit-base-modal custom-modal" id="edit_base" aria-hidden="true"></div>
        <div class="edit-method-base-modal custom-modal" id="edit_method_base" aria-hidden="true"></div>

    </div>
</div>