<div class="jst-template" name="State">
    <div class="item" name="markup">
        <g class="scalable">
            <rect/>
        </g>
        <path/><text class="uml-state-name"/><text class="uml-state-events-text"/>
    </div>

    <div class="item" name="tools">
        <g class="uml-state-tools element-tools" transform="translate(<%= box.x %>, <%= box.y %>)">
            <%= rect_border %>
            <%= remove_icon %>
            <%= settings_icon %>
            <%= add_icon %>
        </g>
    </div>
</div>